<!DOCTYPE html>
<html>
  <head>
    <title>{{ hotspot.locName }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>{{ hotspot.locName }}</h1>

      {{ species | length }} bird species recorded.

      <table class="table table-striped table-hover" style="width: 80%">
        <thead>
          <tr>
            <th>Species</th>
            <th></th>
            <th>Family</th>
            <th>Order</th>
          </tr>
        </thead>
        <tbody>
          {% for sp in species %}
          <tr>
            <td><i>{{ sp.sciName }}</i></td>
            <td>{{ sp.comName }}</td>
            <td>{{ sp.familyComName }}</td>
            <td>{{ sp.order }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
