<!DOCTYPE html>
<html>
 <head>
    <title>{{ trip.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
    <body>
    <div class="container">
    <h1>{{ trip.name }}</h1>
      <table class="table table-striped table-hover" style="width: 80%">
        <thead>
          <tr>
            <th>Day</th>
            <th>Site</th>
          </tr>
        </thead>
        <tbody>
          {% for day in days %}
          <tr>
            <td>{{ day.day }}</td>
            <td>{{ day.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
